USE [master]
GO
/****** Object:  Database [korona]    Script Date: 10/05/2023 17:46:13 ******/
CREATE DATABASE [korona]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'korona', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\korona.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'korona_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\korona_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [korona].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [korona]
GO
/****** Object:  Table [dbo].[city]    Script Date: 10/05/2023 17:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id_city] [int] IDENTITY(1,1) NOT NULL,
	[city_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[id_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 10/05/2023 17:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id_client] [nchar](10) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[id_city] [int] NULL,
	[address] [nvarchar](50) NULL,
	[birthday] [date] NULL,
	[phone] [nchar](10) NULL,
	[mobile_phone] [nchar](10) NULL,
 CONSTRAINT [PK_client1] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[korona]    Script Date: 10/05/2023 17:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[korona](
	[id_korona] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [nchar](10) NULL,
	[date_sick] [date] NULL,
	[date_vecovery] [date] NULL,
 CONSTRAINT [PK_korona1] PRIMARY KEY CLUSTERED 
(
	[id_korona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 10/05/2023 17:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id_product] [int] IDENTITY(1,1) NOT NULL,
	[name_product] [nvarchar](50) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vaccination]    Script Date: 10/05/2023 17:46:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vaccination](
	[id_vaccination] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [nchar](10) NULL,
	[date_vaccination] [date] NULL,
	[id_product] [int] NULL,
 CONSTRAINT [PK_vaccination1] PRIMARY KEY CLUSTERED 
(
	[id_vaccination] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD  CONSTRAINT [FK_client_city] FOREIGN KEY([id_city])
REFERENCES [dbo].[city] ([id_city])
GO
ALTER TABLE [dbo].[client] CHECK CONSTRAINT [FK_client_city]
GO
ALTER TABLE [dbo].[korona]  WITH CHECK ADD  CONSTRAINT [FK_korona_client] FOREIGN KEY([id_client])
REFERENCES [dbo].[client] ([id_client])
GO
ALTER TABLE [dbo].[korona] CHECK CONSTRAINT [FK_korona_client]
GO
ALTER TABLE [dbo].[vaccination]  WITH CHECK ADD  CONSTRAINT [FK_vaccination_client] FOREIGN KEY([id_client])
REFERENCES [dbo].[client] ([id_client])
GO
ALTER TABLE [dbo].[vaccination] CHECK CONSTRAINT [FK_vaccination_client]
GO
ALTER TABLE [dbo].[vaccination]  WITH CHECK ADD  CONSTRAINT [FK_vaccination_product] FOREIGN KEY([id_product])
REFERENCES [dbo].[product] ([id_product])
GO
ALTER TABLE [dbo].[vaccination] CHECK CONSTRAINT [FK_vaccination_product]
GO
USE [master]
GO
